<html>
  <head>
    <title>Vote for Poll</title>
  </head>
  <body>

    <% include ../partials/header %>

    <h1><%= poll.name %></h1>

    <form action="/votes" accept-charset="UTF-8" method="post">
      <% for( var i = 0; i < poll.choices.length; i++ ) { %>
         <input type="radio" name="vote[choice_id]" value="<%= poll.choices[i]._id %>" <%= (i === 0 ? "checked" : "") %> >
         <label><%= poll.choices[i].name %></label><br>
      <% } %>
      <input type="submit" value="Vote" name="commit">
    </form>

    <% if(auth_status) { %>
      <form action="/polls/<%= poll._id %>/patch" accept-charset="UTF-8" method="post">
        <input type="text" placeholder="Enter custom option" name="choice[name]">
        <input type="submit" value="Custom Vote" name="update">
      </form>
    <% } %>

    <% if(owner_status) { %>
      <form action="/polls/<%= poll._id %>/delete" accept-charset="UTF-8" method="post">
        <input type="submit" value="Delete Poll" name="delete">
      </form>
    <% } %>

  </body>
</html>
